.footer
    background-color: $gray
    font-size: 1.3em
    h4
        margin-bottom: 1.5em
    &-social
        background-color: #fff
        color: $base
        h5
            margin: 0
        &__block
            div
                position: relative
                font-size: 2em
                padding: 0 .3em
                a 
                    position: absolute
                    width: 100%
                    height: 100%
    &-contacts 
        &__block
            div
                line-height: 1.1
                margin-bottom: 1.2em
                p 
                    margin: 0
        &__mobile
            div 
                display: flex
                font-size: 1.1em
                margin-bottom: 1em
                i
                    font-size: 1.5em
                    margin-right: .5em
                a
                    display: block
                    margin-bottom: .3em
    &-about
        &-menu
            margin-bottom: 2em
            li 
                margin-bottom: 1em
                a 
                    &:hover
                        text-decoration: underline
    &-info
        h4 
            margin-bottom: 1em
        p 
            font-size: .7em
            line-height: 1.3
            span
                color: darken($gray-text, 50%)
