@media( min-width: 1366px )
    .container
        min-width: 1200px

@media( max-width: 1200px)
    body 
        font-size: 14px
    .header
        &-main
            &-menu
                li 
                    font-size: 1.3em
                    & >
                        ul 
                            li 
                                a 
                                    font-size: 0.7em
    .news
        &-item
            height: 14em
            &__text 
                width: 65%
            &__img
                width: 30%
    .events
        &-list 
            padding: 2em 1em
@media ( max-width: 992px )
    .header
        &-top 
            font-size: 1em
        &-main
            &-menu
                li 
                    font-size: 1em
        &-logo
            width: 15em
        &-services
            height: auto
            li
                width: 20%
                a 
                    font-size: .8em
                    padding: .5em
                    height: auto
    .applicants
        &__item
            margin: 0.5em
            min-height: 15em
            h6 
                font-size: 1em
    .news
        &-item
            height: 15em
    .about
        &-text
            p
                font-size: 1.1em
@media ( max-width: 768px )
    body
        font-size: 10px
    .about
        &-text
            h2
                margin-bottom: 1em
            p
                font-size: 1.3em
    .info
        h3
            font-size: 2em
        &__item
            height: 20em
            h4 
                font-size: 2em
            h6 
                font-size: 1em
            p 
                font-size: .7em
        &-col 
            &:after 
                height: 20em
@media ( max-width: 576px )
    .header
        &-services
            li 
                a
                    font-size: 3em
                    color: $base
                    align-items: center
                    justify-content: center
                    background-color: $gray-footer
                    border: 3px solid #ffffff
                    &:hover 
                        color: #ffffff
    .applicants
        &__item
            font-size: 1.2em
            margin: 0
            border-top: none
            min-height: auto
            ul
                display: none
    .updates
        h4 
            margin: 0
            font-size: 1.2em
        h5
            font-size: 1.1em
    .news
        &-item
            margin: 0
            padding: 1em
            height: 12em
            align-items: center
    .about
        &-text
            padding: 1em
            h2
                margin-bottom: .5em
                font-size: 2em
                text-align: center
    .footer
        &-social
            h5
                font-size: 1.3em
        &-contacts
            h4 
                font-size: 1.4em
