footer.footer
    .footer-social.py-2
        .container-fluid
            .row.no-gutters.justify-content-center
                .col-6.col-lg-3.d-flex.justify-content-center.align-items-center
                    h5 Подписывайтесь на нас:
                .col-6.col-lg-3
                    .footer-social__block.d-flex.justify-content-center
                        div
                            a(href="#")
                            i.fab.fa-youtube
                        div
                            a(href="#")
                            i.fab.fa-instagram
                        div
                            a(href="#")
                            i.fab.fa-vk
                        div
                            a(href="#")
                            i.fab.fa-facebook-f
    .footer-main.py-5
        .container
            .row.justify-content-between
                .col-4
                    .footer-contacts
                        h4 Контакты
                        .footer-contacts__block
                            div
                                p 191011, г. Санкт-Петербург
                                p Невский пр., д. 60
                            div
                                p 
                                    a(href="#") 8 800 100-06-44
                                p (бесплатно по России)
                            div
                                p 
                                    a(href="#") +7 812 570-55-76
                                p (приемная комиссия)
                            div
                                p 
                                    a(href="#") +7 812 571-65-55
                                p (приемная ректора)
                            div
                                p 
                                    a(href="#") +7 812 570-55-50
                                p Экономический лицей
                .col-4
                    .footer-about
                        h4 Об институте
                        ul.footer-about-menu
                            li
                                a(href="#") Сведения об образовательной организации
                            li
                                a(href="#") Научная работа
                            li
                                a(href="#") Абитуриентам
                            li
                                a(href="#") Студентам
                            li
                                a(href="#") Факультет ДПО
                            li
                                a(href="#") Центр тестирования
                            li
                                a(href="#") Платные услуги
                            li
                                a(href="#") ЕЭОС
                            li
                                a(href="#") Экономический лицей
                            li
                                a(href="#") Вакансии
                            li
                                a(href="#") Контакты
                    .footer-info
                        h4 Информация о сайте
                        p 
                            i.far.fa-copyright
                            span  1991-2020 АНО ВО "МБИ имени Анатолия Собчака" 
                            |Сайт разработан в соответствии с требованиями 
                            |Постановления Правительства РФ № 582 от 10.07.2013
                .col-4
                    .footer-sitemap
                        h4 Карта сайта
                    .footer-widget
