header.header.pb-sm-3
    .header-mobile.p-3.d-sm-none
        .container
            .row.no-gutters.justify-content-between.align-items-center
                .header-mobile__logo
                    a(href="#")
                        img(src="img/logo-mob.png", alt="")
                .header-mobile__menu
                    i.fas.fa-bars
    .header-top.py-2.d-none.d-sm-block
        .container
            .row.no-gutters
                .col-2.header-settings.d-flex.justify-content-around.align-items-center
                    .header-view.d-flex.justify-content-center.align-items-center
                        i.far.fa-eye
                    .header-lang
                        i.fas.fa-globe
                        span ENG
                    .header-search
                        a(href="#")
                        i.fas.fa-search
                .col-6.d-flex.justify-content-center.align-items-center
                    div
                        i.fas.fa-phone-alt
                    .header-phone
                        a(href="#") +7 812 570-55-76
                    .header-phone
                        a(href="#") 8 800 100-06-44
                .col-4.d-flex.justify-content-around.align-items-center
                    .header-mail
                        i.fas.fa-envelope-open-text
                        a(href="#") decanat@ibispb.ru
                    .header-social.d-flex.justify-content-between
                        div
                            a(href="#")
                            i.fab.fa-youtube
                        div
                            a(href="#")
                            i.fab.fa-instagram
                        div
                            a(href="#")
                            i.fab.fa-vk
                        div
                            a(href="#")
                            i.fab.fa-facebook-f
    .header-main
        .container
            .row.no-gutters.d-none.d-sm-block
                .col
                    ul.header-nav-menu.d-flex.justify-content-end.py-1
                        li
                            a(href="#") Об институте
                            ul
                                li
                                    a(href="#") One One One
                                li
                                    a(href="#") Two
                                li
                                    a(href="#") Three
                        li
                            a(href="#") Об институте
                            ul
                                li
                                    a(href="#") One One One
                                li
                                    a(href="#") Two
                                li
                                    a(href="#") Three
                        li
                            a(href="#") Об институте
                            ul
                                li
                                    a(href="#") One One One
                                li
                                    a(href="#") Two
                                li
                                    a(href="#") Three
                        li
                            a(href="#") Контакты
                            ul
                                li
                                    a(href="#") One One One One One
                                li
                                    a(href="#") Two
                                li
                                    a(href="#") Three
            .row.justify-content-between.d-none.d-sm-block
                .col
                    .header-logo.mb-3
                        a(href="#")
                            img(src="img/logo.png")
            .row.d-none.d-sm-block
                .col
                    ul.header-main-menu.d-flex.justify-content-between.my-1
                        li
                            a(href="#") Абитуриентам
                            ul
                                li
                                    a(href="#") One two three four five six seven
                                li
                                    a(href="#") Two
                                li
                                    a(href="#") Three
                        li
                            a(href="#") Студентам
                            ul
                                li
                                    a(href="#") One two three four five six seven
                                li
                                    a(href="#") Two
                                li
                                    a(href="#") Three
                        li
                            a(href="#") Дополнительное образование
                            ul
                                li
                                    a(href="#") One two three four five six seven
                                li
                                    a(href="#") Two
                                li
                                    a(href="#") Three
                        li
                            a(href="#") Международная деятельность
                            ul
                                li
                                    a(href="#") One two three four five six seven
                                li
                                    a(href="#") Two
                                li
                                    a(href="#") Three
            .row.no-gutters.justify-content-between.align-items-center
                .col-12.col-lg-9.p-lg-2
                    .header-promo
                        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                            ol.carousel-indicators
                                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                            .carousel-inner
                                .carousel-item.active
                                    a(href="#")
                                        img.d-block.w-100(src='img/banner1.png', alt='Первый слайд')
                                    .carousel-caption.d-none.d-md-block
                                        h2 Заголовок первого слайда
                                        h4 Подзаголовок первого слайда
                                        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вопрос подпоясал раз своего ведущими мир. Там одна, живет, деревни свой текстами на берегу злых залетают языком страну бросил своих грустный?
                                .carousel-item
                                    a(href="#")
                                    img.d-block.w-100(src='img/banner2.png', alt='Второй слайд')
                                .carousel-item
                                    img.d-block.w-100(src='img/banner3.png', alt='Третий слайд')
                            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next
                .col-12.col-lg-3
                    ul.header-services.d-flex.flex-lg-column.justify-content-between
                        li
                            a(href="#")
                                i.fas.fa-user
                                span.d-none.d-sm-block Личный кабинет
                        li
                            a(href="#")
                                i.fas.fa-cloud
                                span.d-none.d-sm-block Библиотека
                        li
                            a(href="#")
                                i.fas.fa-file-alt
                                span.d-none.d-sm-block Расписание
                        li
                            a(href="#")
                                i.fas.fa-desktop
                                span.d-none.d-sm-block ЕЭОС
                        li
                            a(href="#")
                                i.fas.fa-phone-alt
                                span.d-none.d-sm-block Контакты
