extends layout/_main.pug 

block title 
	| Внутренняя страница

block content
	.main
		.container
			.row.py-5.justify-content-between.align-items-streach
				.d-none.d-lg-block.col-lg-4
					.sidebar
						p sidebar
						a(href="#") sidebar link
				.col-12.col-lg-8
					nav(aria-label="breadcrumb")
						ol.breadcrumb
							li.breadcrumb-item
								a(href="#") Главная
							li(aria-current="page").breadcrumb-item.active
								|Внутренняя страница
					.content
						p content
						a(href="#") some link